@import url("https://fonts.cdnfonts.com/css/cute");

:root {
  --text-col: #dc8686;
  --text-shadow: #f0dbaf;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("assets/background.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-primary);
  font-family: "Cute", sans-serif;
  font-size: 2.1em;
  text-shadow: 2px 2px #d1aeae;
  overflow-x: hidden;
}

.lyrics-container {
  position: relative;
  top: -10%;
  bottom: 0;
  text-align: center;
}

/* h1 {
  color: var(--col-text);
} */

#lyrics {
  font-size: 2.1em;
  color: var(--text-col);
  text-shadow: var(--text-shadow);
}

audio {
  position: absolute;
  top: 70%;
  margin-top: 50px; /* Menambahkan ruang di atas elemen audio */
  align-items: center;
  justify-content: center;
}

.controls {
  position: absolute;
  top: 80%;
  margin-top: 50px; /* Menambahkan ruang di atas elemen audio */
  align-items: center;
  justify-content: center;
}

.controls button {
  border: none;
  padding: 5px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

/* Tablet Responsive */
@media screen and (max-width: 420px) {
  audio {
    width: 100%;
  }

  #lyrics {
    font-size: 1em;
  }
}

/* Desktop Responsive*/
@media screen and (max-width: 1500px) {
  audio {
    width: 60%;
  }
}
